{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}

{% block title %}Регистрация · Моя наличка{% endblock %}

{% block css %}
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <form class="form-signin" method="post", action="">
    {% csrf_token %}
    <h2 class="form-signin-heading">Регистрация</h2>
    {% include 'macro/text-field.html' with field=form.username|add_class:'input-block-level' placeholder='placeholder:Логин' %}
    {% include 'macro/text-field.html' with field=form.password1|add_class:'input-block-level' placeholder='placeholder:Пароль' %}
    {% include 'macro/text-field.html' with field=form.password2|add_class:'input-block-level' placeholder='placeholder:Повтор пароля' %}
    <div class="control-group">
      <div class="controls">
          {% include 'macro/radio-field.html' with field=form.currency %}
      </div>
    </div>
    <button type="submit" class="btn btn-large btn-danger">Регистрация</button>
    <a href="{% url 'mainpage' %}" style="margin-top:12px;" class="pull-right">Войти</a>
  </form>
</div> <!-- /container -->

{% endblock %} 