{% for tag in tags %}
    {% if forloop.first %}
        <a href="#" class="tag-filter" onclick="filter_tag('_all')">все({{ tags_sum }})</a>,
    {% endif %}
        <a href="#" class="tag-filter" onclick="filter_tag('{{ tag.title }}')">{{ tag.title|lower }}({{ tag.t_count }})</a>
    {% if not forloop.last %},{% endif %}
{% endfor %}

