{% load cash-tags %}

{% if transactions %}
<p class="lead">
    {{ transactions|get_date|date:'F, Y' }}({{ transactions|month_balance|safe }}):
    <button class="btn pull-right" onclick="set_chart('{{ transactions|get_date|date:'m/Y/' }}')" type="button" title="Показать в виде графика"><i class="icon-signal"></i></button>
</p>
<div id="chart-{{ transactions|get_date|date:'m/Y/' }}" class="row-fluid" display="off"></div>
<table class="table table-bordered table-hover">
    <thead style="background:#ffffff;">
        <tr>
            <th class="span1">#</th>
            <th class="span2">Сумма</th>
            <th class="span2">Дата</th>
            <th class="span3">Теги</th>
            <th class="span4">Пометка</th>
            <th class="span1"></th/>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr class="{{ transaction.get_value_css }}">
                <td>{{ forloop.counter }}</td>
                <td id="transaction-value-{{ transaction.id }}"><span>{{ transaction.get_value_display|safe }}</span>&nbsp;{{ user.get_currency_display }}</td>
                <td id="transaction-date-{{ transaction.id }}">{{ transaction.date|date:'d.m.Y' }}</td>
                <td id="transaction-tags-{{ transaction.id }}">{{ transaction.get_tags_display }}</td>
                <td id="transaction-note-{{ transaction.id }}"><span>{{ transaction.note }}</span></td>
                <td><i class="icon-pencil the-icons" href="#EditItemModal" role="button" data-toggle="modal" transaction-item-id="{{ transaction.id }}" id="transaction-item-{{ transaction.id }}" onclick="get_values_from_row(this)" title="Редактировать запись"></i></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>нет записей</p>
{% endif %}
